.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 60px;
  margin-bottom: 20px;
}

.headerLeft {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-top: 15px;
  font-size: 20px;
}
.headerLeft p {
  padding-left: 10px;
}
.headerRight {
  display: flex;
  flex: 0.6;
  padding-right: 30px;
}
.headerRightLeft {
  display: flex;
  flex: 1;
  padding-top: 20px;
  justify-content: space-evenly;
}
.headerRightRight {
  padding-top: 10px;
  padding-left: 10px;
}
.headerRight form input {
  border: none;
  outline-width: 0;
}
