.sidebar {
  background: #3b113d;
}
.sidebarLogo {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.sidebarList {
  color: white;
}
hr {
  height: 0.08px;
  border: none;
  background-color: dimgrey;
}

.sidebarTeam {
  color: white;
}
.sidebarTeamItem {
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
}
.sidebarTeamItemLeftIcon1 {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #2cb77e;
  border-radius: 5px;
  text-align: center;
}
.sidebarTeamItemLeftIcon2 {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #ffcb05;
  border-radius: 5px;
  text-align: center;
}
.sidebarTeamItemLeftIcon3 {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #e0225b;
  border-radius: 5px;
  text-align: center;
}
.sidebarTeamItemLeftIcon3 img {
  width: 20px;
  height: 25px;
}
.sidebarTeamItemLeft {
  display: flex;
}
.sidebarTeamItemRight {
  padding-right: 30px;
}
.sidebarBottom img {
  width: 100px;
  height: 100px;
}
