.app {
  display: flex;
  background-color: #f0f0f7;
}
.appHome {
  flex: 0.75;
}
.appSidebar {
  flex: 0.25;
}
.appBottom {
  display: flex;
}
.appContent {
  margin-left: 40px;
  margin-right: 40px;
}
